<div>
    <!-- since the vue 2.6.10 reported it component contains multiple root -->
    <!-- it will not compile it success, so add the above div tag wrapped them. -->
    <h1>
        Shirt Checkout
        <!-- as vue 2.6.10, the v-text doesn't support filter any more -->
        <!-- <small v-text="cost | myfilter"></small> -->
        <small>{{ cost | coupon(discount) | currency }}</small>
    </h1>

    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="coupon">Coupon:</label>
            <!-- <div id="{{ something }}"> this is no more supported -->
            <!-- <coupon when-applied="{{ applyDiscount }}"></coupon> -->
            <!-- so change to this <div :id="something" -->
            <coupon :when-applied="applyDiscount"></coupon>
        </div>

    </form>
</div>
